<h1>ダークサイド〜闇の訪れ〜</h1>
<div id="container" class="button">
  <%= form_for @image, url: {action: :upload} do |f| %>
    <%= f.text_field :remote_image_url, placeholder: "URLかファイルを選択してください" %>
    <%= f.file_field :image, :id => "upload_button" %>
    <%= f.submit "スタート", :id => "submit_button" %>
  <% end %>
</div>
