<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <title>ダークサイド〜闇の訪れ〜</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>

<%= yield %>

</body>
</html>
